<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Printventory</title>
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  </head>
  <body>
    <h1>Printventory</h1>
    <%= yield %>
  </body>
</html>
