<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Printventory</title>
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <div class="title-bar">
    <h1>Printventory</h1>
    <div class="pill-nav">
      <a href="/products">Inventory View</a>
      <a href="/products/new">New Product</a>
      <a href="/artists">Artists</a>
      <a href="/artists/new">New Artist</a>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
