<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Printventory</title>
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <div class="title-bar">
      <h1>Printventory</h1>
      <nav>
        <ul>
          <li><a href="/products">Inventory View</a></li>
          <li><a href="/products/new">New Product</a></li>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/artists/new">New Artist</a></li>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
