
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.pill-nav a {
  display: inline-flex;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid;
}

.pill-nav a:hover {
  background-color: black;
  color: white;
}

.content {
  margin-top: 90px;
}
