<h3>Enter Artist Details</h3>

<div class="form-wrapper">

  <form action="/artists/<%= @artist.id() %>" method="post">

    <div class="form-item">
      <label for="first_name-field">First Name:</label>
      <input type="text" name="first_name" id="first_name-field"
      value="<%= @artist.first_name() %>">
    </div>

    <div class="form-item">
      <label for="last_name-field">Last Name:</label>
      <input type="text" name="last_name" id="last_name-field"
      value="<%= @artist.last_name() %>">
    </div>

    <br>

    <div class="form-item">
      <input type="submit" value="Submit">
    </div>

  </form>

</div>
