<h3>Enter New Artist</h3>

<form action="/products" method="post">

  <label for="first_name-field">First Name:</label>
  <input type="text" name="first_name" id="first_name-field">

  <label for="last_name-field">Last Name:</label>
  <input type="text" name="last_name" id="last_name-field">
  <br>
  <input type="submit" value="Submit">

</form>
