<h3>Artist Details View</h3>

<table style="width:100%">
  <tr>
    <th>First Name</th>
    <td><%= @artist.first_name() %></td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td><%= @artist.last_name() %></td>
  </tr>
  <tr>
    <th>Artist ID</th>
    <td><%= @artist.id() %></td>
  </tr>
</table>
