<h3>Enter New Product</h3>

<form action="/products" method="post">

  <label for="title-field">Title:</label>
  <input type="text" name="title" id="title-field">

  <label for="description-field">Description:</label>
  <input type="text" name="description" id="description-field">

  <label for="artist_id-field">Artist:</label>
  <input type="number" name="artist_id" id="artist_id-field">

  <label for="buying_cost-field">Buying Cost:</label>
  <input type="number" name="buying_cost" id="buying_cost-field">

  <label for="sale_price-field">Sale Price:</label>
  <input type="number" name="sale_price" id="sale_price-field">

  <label for="copies_in_stock-field">Copies in Stock:</label>
  <input type="number" name="copies_in_stock" id="copies_in_stock-field">

</form>
